.troubleshoot {
  background-color: black;
  width: 250px;
  justify-content: center;
  color: white;
  padding: 4px 6px;
  border-radius: 20px;
  border: 1px solid white
}
html,body{
  overflow-x: hidden;
}
.main_div_for_content {
  background-color: black;
  padding: 10px 10px;
  margin: 30px 30px;
  border-radius: 20px;
  margin-top: 100px;
  color: white;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.white_btn {
  padding: 3px 20px;
  border: none;
  color: black;
  background-color: white;
  font-weight: 700;
  border-radius: 4px;
  text-transform: capitalize;
  border:1px solid white;
  transition: all ease-in-out 0.7s;
}

.white_btn01 :hover {
  background-color: black;
  color: white;
  
}

.main_project_contenet {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.project_con {
  background-color: black;
  padding: 10px 10px;
  border: 1px solid rgba(212, 212, 212, 0.405);
  border-radius: 10px;
}

.border_for_project {
  border: 1px solid rgba(255, 255, 255, 0.477);
  height: 40px;
  width: 40px;
  padding: 5px 5px;
  border-radius: 3px;
}

@media screen and (max-width:782px) {
  .main_project_contenet{
    flex-wrap: wrap;
  }
}